.ex_list {
    display: flex;
    gap: 15px;
    list-style-type: none;
    padding: 0;
}

.ex_list__txt {
    border: 1px solid darkslategrey;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.ex_container {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid grey;
    gap: 15px;
}
.ex_form {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 24px;
}
.ex_form__button {
    padding: 5px;
    align-self: end;
}
.ex_form__label {
    display: flex;
    flex-direction: column;
}

.ex_inactive {
    display: none;
}
.ex_active {
    display: flex;
}
.ex_super-btn {
    padding: 10px;
    font-size: 16px;
    background-color: coral;
    border-radius: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
}